/*  index.css */

@charset "UTF-8";

/* @import url('Fonts: https://fonts.googleapis.com/css?family=???'); */
/* @import url(theme_1.css); */

:root {
    /*  Main  */
    --background-main: rgb(136, 198, 206) ;
    --background-content: rgb(99, 82, 82) ;
    --color-main: black;
    --border-radius: 0.13rem;
    /* --border-main: 
    --border-content:  */
    
    /*  Menu NavBar */
    --background-menu: #BD0219;
    --font-color: #cbd5db;
    --brand-color: rgb(121, 136, 119) ;
    /* #5f788a */
    /* #485A75 */ 
    /*  SubMenu Nav */
    
    --colorTitle: black;

    /*  Buttons  */
    --btnBackground: rgb(51, 37, 37);
    --btnProp: rgb(233, 231, 231);
    --btnBackgroundHover: rgb(0, 0, 0);
    --btnPropHover: white;
    --btnPropDisabled: rgb(92, 90, 90);

    /*  Select Filters-Sort  */
    --selBackground: rgb(180, 175, 175);
    --selColor: rgb(31, 27, 18);


    /*  Inputs Form */
    --formBackground: rgba(141, 143, 145);
    --formLabelColor: rgb(51, 37, 37);
 
    --inputBackground: plum;
    --inputBackground: rgb(218, 202, 202);

    --inputColor: plum;
    --inputColor: rgb(240, 240, 240);

    --inputColorFocus: rgb(200, 228, 198);
    --inputColorFocus: plum;

    --inputColorFocus: black;

    --inputColorDisabled: lightgrey;

    --optionBackground: black;
    --optionColor: white;

    /*  Owner  */
    --ownerColor: lightblue;
    --ownerColorHover: white;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    /* font-family: Arial, Avenir, Helvetica, sans-serif;     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    /* text-align: center; */
    font-weight: 400;
    background-color: var(--background-main);
    color: var(--color-main);
    margin-top: 0.2rem;
    line-height: 1;
    /* background-image: url("../../media/Rhombus_Pattern.jpg");   
    background-size: auto; */
    min-width: 360px;
    border-radius: var(--border-radius) !important; 
}


.titleProps {
    font-size: 1.1rem;
    margin: 0.3rem;
    color: var(--colorTitle);
    text-align: left;
}  
.fontBold {
    font-weight: 500;
}
.rounded {
    border-radius: var(--border-radius) !important;     
}

.router-link-active + div {
    display: block;
    width: 100%;
    height: 0.10rem;
    /* border-bottom: 2px solid black; */
    border-bottom-width: 1.3px;
    border-bottom-style: solid;
    border-bottom-color: white;
    /* color: inherit; */

}
/*  Menu - navbar */

/*  SubMenu - nav */

/* Botones */
.btnProp {
    background-color: var(--btnBackground);
    color: var(--btnProp);
    margin: 1px;
}
.btnProp:hover {
    background-color: var(--btnBackgroundHover);
    color: var(--btnPropHover);
    /* font-size: 1.01rem; */
}
.btnProp:disabled {
    color: var(--btnPropDisabled);
}
.btnProp:focus {
    /* color: green; */
}
.btnProp:selection {
    /* color: blue; */
}
#idLimiter {
    padding: .15rem;        
}
/* End Botones */
/* ----------- component -------------------------- */
/*  Button */
.btn_1  {
    background-color: rgb(181, 151, 221);
    color: black;
    border: 0.1rem 0.3rem;
    padding: 0.1rem 0.3rem;

}
/* .btn_1:active {
	transform: scale(.95);
} */

/* Table */
table {
/* width: 400px; */
/* height: 600px; */
background-color: transparent;
border-spacing: 3px;   /*  espaciado entre  celdas */

/* empty-cells: show; */
}
thead {
background-color: inherit;
}
thead tr {
    cursor: pointer;
    border: 1px solid #333;
    font-weight: 400;
}
th:hover {
   color: white; 
}
tbody tr {
    height: 1rem !important;
    vertical-align: center !important; 

}
thead tr th, tbody tr td {
   /* align-self: center !important; */
   vertical-align: center;
}
/* table:nth-child(odd) {
background-color: #E0DAE9;
}
table:nth-child(even) {
background-color: #DBE9E7;
} */

/* -------------------------------------- */


/* -------- -- Media Queries --------*/
@media (max-width: 575px) {   /* xs */
    html{
        font-size: 12px;
    }
    body {
        background-color: comflowerblue;
    
    }
    
    }  /*  End xs */
    
    /*  Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { /* sm */
            
    html {
        font-size: 13px; 
    }
    body {
        /* background-color: khaki;   */
    
    }
    }  /*  End sm */
    
     /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { /* md */
    html {
        font-size: 14px; 
    }
    body {
        /* background-color: salmon;   */
    
    }
    
    }  /*  End md */
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {  /* lg */
    
    html {
        font-size: 15px; 
    }
    body {
        /* background-color: cadetblue;   */
        
    }
    
    }  /*  End lg */
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  /* xl */
    html {
        font-size: 15px; 
    }
    body {
        /* background-color: silver;   */
    
    }
    
    }   /*  End xl */