/* .swal2-title {
    background-color:red !important;
    color: blue;

} */

.popup-class {
    background-color:rgb(136, 184, 192);
    color: rgb(112, 112, 168);  
    font-size: 400; 
}
/* .swal2-modal {
    background-color:rgb(79, 129, 138);    
}
.title-class {
    color: rgb(112, 112, 168);    
} 

.swal2-class {
    background-color:rgb(136, 184, 192);
    color: rgb(112, 112, 168);  
    font-size: 400;
}  */